<script>
  import { onMount, onDestroy } from 'svelte';
  import { SvgWordCloud, getWords } from '../lib/wordCloud'

  export let words = []
  export let interval = 2000
  export let width = null
  export let height = null
  export let size = 500

  $: w = width || size
  $: h = height || size

  let svgWordCloud
  let svgEl

  let timeout

  const clearInterval = () => { if (timeout) clearTimeout(timeout) }

  const updateInterval = () => {
    clearInterval()
    timeout = setTimeout(updateWords, interval);
  }

  $: updateInterval(), interval

  const updateSize = () => svgWordCloud = new SvgWordCloud(svgEl, w, h)

  $: updateSize(), svgEl, w, h

  const clone = (original) => JSON.parse(JSON.stringify(original))

  $: texts = getWords(words)

  const updateWords = () => {
    svgWordCloud.update(clone(texts))
    updateInterval()
  }

  $: updateWords(), texts, svgWordCloud

  onMount(() => {
    if (!svgWordCloud) svgWordCloud = new SvgWordCloud(svgEl, w, h)
  })

  onDestroy(clearInterval)

</script>

<div bind:this={svgEl}></div>
