<script>
  import WordCloud from './components/WordCloud.svelte'

  let users = ['mauriciomacri', 'alferdez', 'CFKargentina', 'MiguelPichetto']

  let words = [
    { "word": "mediaParty", "count": 20 },
    { "word": "bienvenidos", "count": 10 },
    { "word": "a", "count": 2 },
    { "word": "la", "count": 4 },
  ]

  let word = ''
  let count = 1

  let size = 600

  const addWord = () => {
    words = [...words, {word, count}]
    word = ''
  }

  let name = users[0]
  let wordCount = 20
  let interval = 2
  const fetchTweets = async () => {
    const root = 'http://mediaparty-api.herokuapp.com/twitter'
    const url = `${root}/user_timeline_words?user=${name}&count=${wordCount}`
    const res = await fetch(url)
    words = await res.json()

    console.log(`fetched timeline for ${name}`, words)

    timelines = timelines.filter(t => t.name !== name)
    timelines = [...timelines, {name, words, interval: interval*1000, size}]
  }

</script>

<style>
  div.timelines {
    display: flex;
    flex-flow: row;
  }
</style>


<!--
  <input type="range" min="200" max="800" bind:value={size}>

<input bind:value={word} placeholder="enter a new word" />
<input bind:value={count} placeholder="enter the repetitions of the word" />
<button on:click={addWord}>add word</button>
-->

name:
  <select bind:value={name} >
    {#each users as user}
      <option value={user}>{user}</option>
    {/each}
  </select>
palabras:<input type="range" min="5" max="100" bind:value={wordCount}>
intervalo:<input type="input" min="0" max="6" bind:value={interval} size="2">
tamaño:<input type="range" min="200" max="600" bind:value={size}>
<button on:click={fetchTweets}>fetch tweets</button>

<div class='timelines'>
{#each timelines as {name, words, interval, size} (name) }
  <WordCloud {words} {interval} {size}/>
{/each}
</div>
