<script>
  import WordCloud from './components/WordCloud.svelte'

  let mediaPartyWords = [
    { word: "MediaParty", count: 50 },
    { word: "Argentina", count: 30 },
    { word: "programadores", count: 10 },
    { word: "software", count: 10 },
    { word: "diseñadores", count: 10 },
    { word: "trabajar", count: 10 },
    { word: "juntos", count: 10 },
    { word: "futuro", count: 10 },
    { word: "medios", count: 10 },
    { word: "comunicación", count: 10 },
    { word: "Hacks/Hackers", count: 30 },
    { word: "Buenos Aires", count: 10 },
    { word: "evento", count: 10 },
    { word: "comunidades", count: 10 },
    { word: "periodistas", count: 40 },
    { word: "desarrolladores", count: 10 },
    { word: "news", count: 8 },
    { word: "conferencia", count: 8 },
    { word: "konex", count: 7 },
    { word: "herramientas", count: 7 },
  ]

  let words = mediaPartyWords

  let users = ['', 'mauriciomacri', 'alferdez', 'CFKargentina', 'MiguelPichetto']
  let name = users[0]

let wordCount = 20
let interval = 2
let size = 500

const fetchTweets = async () => {
  console.log('fetchTweets')
  if (!name) words = mediaPartyWords.slice(0, wordCount)
  else {
    const url = '//mediaparty-api.herokuapp.com/twitter/user_timeline_words?' +
      'user=' + name + '&count=' + wordCount.toString()
    const res = await fetch(url)
    words = await res.json()
    console.log('fetched timeline for ' + name, words)
    console.log('fetched from ', url)
  }
}

$: fetchTweets(), name, wordCount

</script>

name:
  <select bind:value={name} >
    {#each users as user}
      <option value={user}>{user}</option>
    {/each}
  </select>
palabras:<input type="range" min="5" max="100" bind:value={wordCount}>
intervalo:<input type="input" min="0" max="6" bind:value={interval} size="2">
tamaño:<input type="range" min="200" max="500" bind:value={size}>

<WordCloud {words} interval={interval*1000} {size}/>
