<script>
  import WordCloud from './components/WordCloud.svelte'

  const parseQuery = () => {
    const q = new URLSearchParams(window.location.search);
    const users = q.get('users') || ''
    return {
      users: users === '' ? [] : users.split(','),
      size: q.get('size') || null,
      interval: (q.get('interval') || 1) * 1000,
      size: q.get('size') || 500,
      width: q.get('width') || q.get('size') || 500,
      height: q.get('height') || q.get('size') || 500,
      wordCount: q.get('wordCount') || 20,
    }
  }

  const query = parseQuery()

  let timelines = []

  async function asyncForEach(array, callback) {
    for (let index = 0; index < array.length; index++) {
      await callback(array[index], index, array);
    }
  }

  const fetchTimelines = async () => {

    if (query.users.length === 0) {
        const words = [
          { word: "MediaParty", count: 50 }, { word: "Argentina", count: 30 },
          { word: "programadores", count: 10 }, { word: "software", count: 10 },
          { word: "diseñadores", count: 10 }, { word: "trabajar", count: 10 },
          { word: "juntos", count: 10 }, { word: "futuro", count: 10 },
          { word: "medios", count: 10 }, { word: "comunicación", count: 10 },
          { word: "Hacks/Hackers", count: 30 }, { word: "Buenos Aires", count: 10 },
          { word: "evento", count: 10 }, { word: "comunidades", count: 10 },
          { word: "periodistas", count: 40 }, { word: "desarrolladores", count: 10 },
        ]
        timelines = [{words}]
        return
    }

    let tl = []
    // fetch timelines in parallel
    query.users.forEach(async user => {
      const root = '//mediaparty-api.herokuapp.com/twitter'
      const url = `${root}/user_timeline_words?user=${user}&count=${query.wordCount}`
      console.log(`fetching tweets for ${user} from ${url}`)
      const res = await fetch(url)
      const words = await res.json()
      console.log(`fetched ${words.length} words for ${user}`, words)

      tl = [...tl, {
        name: user,
        words,
        interval: query.interval,
        size: query.size,
        width: query.width,
        height: query.height,
      }]

      // fetched all timelines, recreate array in the correct order
      if (tl.length === query.users.length) {
        timelines = query.users.map(user => tl.find(item => item.name === user))
      }
    })
  }

  fetchTimelines()

$: console.log(timelines)
</script>

<style>
  div.timelines {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
</style>


<div class='timelines'>
{#each timelines as timeline (timeline.name) }
  <WordCloud {...timeline}/>
{/each}
</div>
